$primary-color:#333535;
$secondary-color:white;
$logo-color:rgb(42,188,188);
$secondary-logo-color:rgb(97,101,102);
$neutral-color:#818890;
$neutral:#f3f3f3;
$elementary-color:#3ab7fd;
$t-gap:0.5rem;
$sm-gap:1rem;
$md-gap:5rem;
$lg-gap:2rem;
$ex-gap:10rem;
$border:1px solid #818890;
$trans:0.3s ease-in-out;
$shadow:0px 30px 40px rgba(153, 153, 153, 0.262);
$elementary-shadow:0px 30px 40px #3ab7fd;
$text-gradient:linear-gradient(
    90deg,
    rgb(42,188,188),
    rgb(62, 128, 128),
    rgb(104, 119, 122),
    rgb(97,101,102),

);
