@import "../styles/-variables.scss";
@import "../styles/-constant.scss";

.app__contact{
    .app__navbar{
        background-color: transparent;
        position: absolute;
    }
}

.contact__header{
    background-image: url("../assets/contactBackground2.jpg");
    background-repeat: no-repeat;
     background-size:cover;
    background-position: center;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $md-gap ;
    gap: 1rem;

    p{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: .3rem;
        color: $secondary-logo-color;
       
    }
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.contact__detail{
    display: flex;
    flex-direction: row;
    padding: $md-gap;
    gap: 2rem;
    height: auto;

}
.left__detail{
//   background-color: #0c1727;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    border-radius: 10px;
    box-shadow:0px 2px 5px gray ;
    padding: .5rem 2rem;

    h1{
        color: $primary-color;
    }
    .detail__form{
        gap: 1rem;
        display: flex;
        flex-direction: column;
        

        label{
            color: $primary-color;
        }
    }
    input{
        padding-left: 20px;
        @include inputContainer; 
        width: 100%;
        height: 35px;   
    }
    .detail__button{
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            @include button;
           width: 200px;
           background-color: $primary-color;
           color: white;

           &:hover{
            background: $text-gradient;
           }
        }
    }
    
}

.right__detail{
    background-color: $primary-color;
    box-shadow:0px 2px 20px gray ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
     gap: 3rem;
     flex: 1;
     padding: 1rem 2rem;

     h1{
        font-size: 1.8rem;
        font-weight: bold;
        color: $logo-color;
     }
     h4{
        color: $neutral-color;
        
     }
     .info__container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .info{
            display: flex;
            flex-direction: row;
            gap:1rem;
            color: $logo-color;
         }
     }
     
}
@media only screen and (max-width:600px){
    .contact__detail{
        display: flex;
        flex-direction: column;

        .left__detail h1 {
            color: #333535;
            line-height: 35px;
            font-size: 22px;

        }
        .right__detail h1 {
            font-size: 23px;
            color: $logo-color;
        }
    }
}