@import "../styles/-variables.scss";
@import "../styles/-constant.scss";


.SubService__container{

    .SubService__wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .SubService__card{
        flex: 1 1 300px;
        text-align: center;
        background-color: #fff ;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,.3);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        z-index: 0;
    

        i{
            box-shadow: 0 5px 10px rgba(0,0,0,.3);
            font-size: 30px;
            height: 60px;
            width: 60px;
            line-height: 80px;
            color: $logo-color;
            border-radius: 50%;
            margin: 10px 0;
            align-items: center;
            display: inline-grid;
            justify-content: center;
            padding: 0px 11px;
        }

        .SubService__text{
            display: flex;
            gap: 8px;
            flex-direction: column;
        
        h3{
            font-size: 20px;
            color: $secondary-logo-color;
        }
        p{
            color: $neutral-color;
        }
        

    }
    .SubService__link{
        margin-top: 15px;
        
        button{
            @include button;
            background-color: $logo-color;
            color: #fff;

            &:hover{
                background-color: $secondary-logo-color;
                }
        }
    }
    }

}